body {
  background: url("background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

h1{
  font-size: 50;
  font-style: italic;
  color: yellow;
  text-align: center;
}

h2{
font-size: 40;
color: yellow;
text-align: center;

}

h3{
font-size: 40;
color: yellow;
text-align: left;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-align: right;
}

div.box {
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: blue;
}

div.img img {
    width: 500px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

div.desc {
    padding: 25px;
    color: white;
    text-align: center;
}

.button {
    text-align: center;
    position: absolute;
    top: 50%;
    background-color: white;
}

footer {

   width:100%;

     /* Height of the footer */
   background:black;
}

input {
   
}

p {
 color: white;
 text-align: center;
}
